#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0.125rem;
  padding: 0;
}

#eventsDataArea {
  font-size: calc(10px + 0.6vw);
}

/* ***************************** Partial Collapsed Text ********************************************* */
.w-40 {
  width: 40%;
}

.getDescription {
  width: 40%;
}

table {
  table-layout: auto; /* will switch the table-layout algorythm */
}

.getDescription a.collapsed::after {
  content: "+ Show More";
}

.getDescription a:not(.collapsed)::after {
  content: "- Show Less";
}

.getDescription #collapseEventDescription.collapse:not(.show) {
  display: block;
  /* height = lineheight * no of lines to display */
  height: 3rem;
  text-overflow: hidden;
}

.getDescription #collapseEventDescription.collapsing {
  height: 3rem;
}

/* *************************************************************************************************** */
