#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0.125rem;
  padding: 0;
}

#eventsDataArea {
  font-size: 1rem;
  line-height: 1.5;
}

/* ***************************** Partial Collapsed Text ********************************************* */
.getDescription {
  width: 50rem;
}

.getDescription a.collapsed::after {
  content: "+ Show More";
}

.getDescription a:not(.collapsed)::after {
  content: "- Show Less";
}

.getDescription #collapseEventDescription.collapse:not(.show) {
  display: block;
  /* height = lineheight * no of lines to display */
  height: 3rem;
  text-overflow: clip;
}

.getDescription #collapseEventDescription.collapsing {
  height: 3rem;
}

/* *************************************************************************************************** */
